<meta name="viewport" content="initial-scale=1.0, user-scaleable=no" />

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
  $(function(){ init(); });
</script>
<div id="map_canvas"></div>
