<meta name="viewport" content="initial-scale=1.0, user-scaleable=no" />

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true">
  $(function(){ init(); });
</script>

<div id="map_canvas" ></div>

